<h1>Welcome to Your Quotes</h1>
<br>
<h4>Search Quotes</h4>
<h4>
<%= form_tag quotes_path, :method => 'get' do %>   
    <%= text_field_tag :search, params[:search] %>   
    <%= submit_tag "Search", name: nil %> </h4>
<% end %>

<br>
<br>

<h4>Your  Quotes</h4>
    <h4><%@quotes.each do |quote|%>
         <%# <% binding.pry %> 
        <% if !quote.content.nil? %>
            <%= link_to quote.content, quote_path(quote) %>
        <% end%>
    <% end %>
    </h4>

<br>
<br>
<br>

<h4>Do you have more inspiration?</h4>
<h4><%= link_to "Add a Quote", new_quote_path %></h4>

