<h1>Add a Quote!</h1>

  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being             saved:</h2>
      <ul>
        <% @quote.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<%= form_for (@quote) do |f| %>
  <%= f.label "Quote:" %><br>
  <%= f.text_area :content %><br>
  <%= f.label "Select Book:" %><br>
  <%= f.collection_select :book_id, Book.all, :id, :name, include_blank: true %><br><br>
  <%= f.label "Add Book:" %><br>
  <%= f.fields_for :book, @quote.build_book do |book_form| %>
    <%= book_form.label "Name" %>
    <%= book_form.text_field :name %><br><br>
    <%= book_form.label "Author" %>
    <%= book_form.text_field :author %><br><br>
  <% end %>
  <%= f.submit %>
<% end %>