<h1>Add a Quote!</h1>

  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quote.errors.count, "error") %> prohibited this quote from being saved:</h2>
      <ul>
        <% @quote.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


<%# if !new_book_quote_path  %>
<%# <%= form_for [@book, @quote] do |f| %> 

<%if !params[:book_id] %>
  <%= form_for (@quote) do |f| %>
  <%= f.label "Add Quote:" %><br>
  <%= f.text_area :content, :class => 'form-control' %><br><br>
  <%= f.label "Select the book associated with the quote:" %><br>
  <%= f.collection_select :book_id, Book.all.order(:name), :id, :name, include_blank: true %><br><br>
  <%= f.label "Or Add a book not listed above:" %><br>
  <%= f.fields_for :book, @quote.build_book do |book_form| %>
    <%= book_form.label "Title" %>
    <%= book_form.text_field :name %><br><br>
    <%= book_form.label "Author" %>
    <%= book_form.text_field :author %><br><br>
  <% end %>
  <%= f.submit %>
<% end %>
<% else  %>
<%= form_for [@quote] do |f|%>
  <%= f.hidden_field :book_id %>
  <%= f.label "Add Quote For This Book:" %><br>
  <%= f.text_area :content, :class => 'form-control' %><br><br>
  <%= f.submit %>
  <% end %> 
<% end  %>