<h1>Quote: 
<h2><%= @quote.content %> - <%= @quote.book.author %> </h2>

<p>Book: <%= @quote.book.name %></p>
<%# 
  <h3>by: <%= link_to quote.book.name, author_posts_path(post.author) %></h3> %>


<%= link_to "Edit", edit_quote_path %> | <%=  link_to "Delete", quote_path, method: "delete" %>

<%# <h3>By <%= link_to @book.author, books_path</h3>  %>